<form method="post" action="{{ path('app_dcategory_delete', {'dcategoryId': dcategory.dcategoryId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dcategory.dcategoryId) }}">
    <button class="btn">Delete</button>
</form>
